In [24]:
%pwd

'/Users/isaacwood/Documents/School/CISC 451/IESO ML Project/weather'

In [25]:
import pandas
import requests
pandas.set_option('display.max_columns', None)

In [26]:
price_data = pandas.read_csv('../data/combined_nodal_prices.csv')

/var/folders/b8/b4rqhqs11cbcqlzjryxb92lw0000gn/T/ipykernel_9468/322356235.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  price_data = pandas.read_csv('../data/combined_nodal_prices.csv')

In [27]:
#promote headers 1,2 to be column names by concatenating them
thing = price_data.iloc[0] + '_' + price_data.iloc[1]
print(thing)
price_data.columns = thing
price_data = price_data.iloc[2:]
price_data.head()

\\For 2002                 Zones_Date
Unnamed: 1                        NaN
Unnamed: 2         Reference_Richview
Unnamed: 3        North West_Atikokan
Unnamed: 4     North West_Pineportage
Unnamed: 5      North West_Thunderbay
Unnamed: 6         North East_Andrews
Unnamed: 7          North East_Canyon
Unnamed: 8     North East_NPIroqfalls
Unnamed: 9              Ottawa_TAOHSC
Unnamed: 10             East_Saunders
Unnamed: 11        Toronto_Darlington
Unnamed: 12          Essa_Desjoachims
Unnamed: 13              Bruce_BruceB
Unnamed: 14      South West_GerdauCam
Unnamed: 15             Niagara_BECK2
Unnamed: 16           West_Greenfield
\\For 2003                        NaN
\\For 2004                        NaN
\\For 2005                        NaN
\\For 2006                        NaN
\\For 2007                        NaN
\\For 2008                        NaN
\\For 2009                        NaN
\\For 2010                        NaN
\\For 2011                        NaN
\\For 2012                        NaN
\\For 2013                        NaN
\\For 2014                        NaN
\\For 2015                        NaN
\\For 2016                        NaN
\\For 2017                        NaN
\\For 2018                        NaN
\\For 2019                        NaN
\\For 2020                        NaN
\\For 2021                        NaN
\\For 2022                        NaN
\\For 2023                        NaN
\\For 2024                        NaN
\\For 2025                        NaN
dtype: object

,Zones_Date,NaN,Reference_Richview,North West_Atikokan,North West_Pineportage,North West_Thunderbay,North East_Andrews,North East_Canyon,North East_NPIroqfalls,Ottawa_TAOHSC,East_Saunders,Toronto_Darlington,Essa_Desjoachims,Bruce_BruceB,South West_GerdauCam,Niagara_BECK2,West_Greenfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-10-04,1,31.71,23.67,20.33,23.32,24.39,28.07,28.32,33.03,31.4,32.03,29.92,31.09,31.37,32.03,31.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-10-04,2,33.3,24.85,21.35,24.49,26.89,29.47,29.74,34.69,32.97,33.64,31.42,32.65,32.94,33.64,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-10-04,3,31.25,23.32,20.03,22.98,28.9,27.65,27.9,32.55,30.94,31.57,29.48,30.64,30.91,31.57,30.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2002-10-04,4,31.41,23.44,20.14,23.1,26.59,27.8,28.05,32.72,31.1,31.73,29.63,30.8,31.07,31.73,31.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002-10-04,5,31.78,23.72,20.37,23.37,24.44,28.12,28.37,33.1,31.46,32.1,29.98,31.16,31.43,32.1,31.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#concatenate the data from Zone_Data and every column after WestGreenfield together
# the goal is to have a dataframe with datetime and all the zone prices. the year column is all over the place


column_names = price_data.columns.tolist()


column_names[1] = 'Hour_of_Day'

price_data.columns = column_names



# make sure is string
price_data['Zones_Date'] = price_data['Zones_Date'].fillna("").astype(str)

# loop through all bad columns nan.
for x in range(17, len(price_data.columns)):
    col_str = price_data.iloc[:, x].fillna("").astype(str)  # handle NaNs safely
    price_data['Zones_Date'] = price_data['Zones_Date'] + " " + col_str

# clean up extra spaces
price_data['Zones_Date'] = price_data['Zones_Date'].str.strip()

# drop old broken columns

In [29]:
import numpy as np
price_data = price_data.drop(columns=np.nan)
price_data['Zones_Date']

2         2002-10-04
3         2002-10-04
4         2002-10-04
5         2002-10-04
6         2002-10-04
             ...
197779    2025-04-30
197780    2025-04-30
197781    2025-04-30
197782    2025-04-30
197783    2025-04-30
Name: Zones_Date, Length: 197782, dtype: object

In [31]:
# display all years
price_data['Zones_Date'] = pandas.to_datetime(price_data['Zones_Date'], errors= 'coerce')
price_data['Zones_Date'].dt.year.unique()
# drop rows where date is nan
price_data = price_data.dropna(subset=['Zones_Date'])

In [34]:
price_data.head()

,Zones_Date,Hour_of_Day,Reference_Richview,North West_Atikokan,North West_Pineportage,North West_Thunderbay,North East_Andrews,North East_Canyon,North East_NPIroqfalls,Ottawa_TAOHSC,East_Saunders,Toronto_Darlington,Essa_Desjoachims,Bruce_BruceB,South West_GerdauCam,Niagara_BECK2,West_Greenfield
2,2002-10-04,1,31.71,23.67,20.33,23.32,24.39,28.07,28.32,33.03,31.4,32.03,29.92,31.09,31.37,32.03,31.43
3,2002-10-04,2,33.3,24.85,21.35,24.49,26.89,29.47,29.74,34.69,32.97,33.64,31.42,32.65,32.94,33.64,33
4,2002-10-04,3,31.25,23.32,20.03,22.98,28.9,27.65,27.9,32.55,30.94,31.57,29.48,30.64,30.91,31.57,30.97
5,2002-10-04,4,31.41,23.44,20.14,23.1,26.59,27.8,28.05,32.72,31.1,31.73,29.63,30.8,31.07,31.73,31.13
6,2002-10-04,5,31.78,23.72,20.37,23.37,24.44,28.12,28.37,33.1,31.46,32.1,29.98,31.16,31.43,32.1,31.49

In [35]:
price_data.to_csv("prices_zonal.csv")

In [38]:
%pip install "cdsapi>=0.7.7" xarray

Requirement already satisfied: cdsapi>=0.7.7 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (0.7.7)
Collecting xarray
  Downloading xarray-2025.11.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: ecmwf-datastores-client>=0.4.0 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from cdsapi>=0.7.7) (0.4.1)
Requirement already satisfied: requests>=2.5.0 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from cdsapi>=0.7.7) (2.32.5)
Requirement already satisfied: tqdm in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from cdsapi>=0.7.7) (4.67.1)
Requirement already satisfied: numpy>=1.26 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from xarray) (2.3.5)
Requirement already satisfied: packaging>=24.1 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from xarray) (25.0)
Requirement already satisfied: pandas>=2.2 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from xarray) (2.3.3)
Requirement already satisfied: attrs in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (25.4.0)
Requirement already satisfied: multiurl>=0.3.7 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (0.3.7)
Requirement already satisfied: typing-extensions in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (4.15.0)
Requirement already satisfied: pytz in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from multiurl>=0.3.7->ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (2025.2)
Requirement already satisfied: python-dateutil in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from multiurl>=0.3.7->ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from pandas>=2.2->xarray) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from python-dateutil->multiurl>=0.3.7->ecmwf-datastores-client>=0.4.0->cdsapi>=0.7.7) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from requests>=2.5.0->cdsapi>=0.7.7) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from requests>=2.5.0->cdsapi>=0.7.7) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from requests>=2.5.0->cdsapi>=0.7.7) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from requests>=2.5.0->cdsapi>=0.7.7) (2025.11.12)
Downloading xarray-2025.11.0-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 15.1 MB/s  0:00:00
Installing collected packages: xarray
Successfully installed xarray-2025.11.0
Note: you may need to restart the kernel to use updated packages.

This is just some api testing

In [2]:
%pip install h5netcdf

Collecting h5netcdf
  Downloading h5netcdf-1.7.3-py3-none-any.whl.metadata (13 kB)
Collecting h5py (from h5netcdf)
  Downloading h5py-3.15.1-cp314-cp314-macosx_11_0_arm64.whl.metadata (3.0 kB)
Requirement already satisfied: packaging in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from h5netcdf) (25.0)
Requirement already satisfied: numpy>=1.21.2 in /Users/isaacwood/Documents/School/CISC 451/IESO ML Project/.venv/lib/python3.14/site-packages (from h5py->h5netcdf) (2.3.5)
Downloading h5netcdf-1.7.3-py3-none-any.whl (56 kB)
Downloading h5py-3.15.1-cp314-cp314-macosx_11_0_arm64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 16.9 MB/s  0:00:00
Installing collected packages: h5py, h5netcdf
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [h5netcdf]
Successfully installed h5netcdf-1.7.3 h5py-3.15.1
Note: you may need to restart the kernel to use updated packages.

In [37]:
import cdsapi
    
client = cdsapi.Client()

In [2]:
import cdsapi
import cdsapi
import xarray as xr
import pandas as pd

# # ------------------------
# # Step 1: Download ERA5 data
# # ------------------------

# c = cdsapi.Client()

# lat = 45.50
# lon = -75.25
# delta = 0.1  # small box around point

# # Variables we need
# variables = ['10m_u_component_of_wind', '10m_v_component_of_wind',
#              '2m_dewpoint_temperature', '2m_temperature',
#              'surface_solar_radiation_downwards', 'total_precipitation']

# c.retrieve(
#     'reanalysis-era5-single-levels',
#     {
#         'product_type': 'reanalysis',
#         'variable': variables,
#         'year': '2003',
#         'month': '01',
#         'day': ['01'],  # can extend to multiple days
#         'time': [
#             '00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00',
#             '08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00',
#             '16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00',
#         ],
#         'area': [lat+delta, lon-delta, lat-delta, lon+delta],
#         'grid': [0.25, 0.25],
#         'format': 'netcdf'
#     },
#     'era5_point.nc'
# )

# # ------------------------
# # Step 2: Load and interpolate
# # ------------------------

ds = xr.open_dataset('era5_point.nc')

# Rename variables to match your output
ds = ds.rename({
    '10m_u_component_of_wind': 'u10',
    '10m_v_component_of_wind': 'v10',
    '2m_dewpoint_temperature': 'd2m',
    '2m_temperature': 't2m',
    'surface_solar_radiation_downwards': 'ssrd',
    'total_precipitation': 'tp'
})

# Interpolate to exact point
point_ds = ds.interp(latitude=lat, longitude=lon)

# Convert to pandas DataFrame
df = point_ds.to_dataframe().reset_index()

# Optional: reorder columns
df = df[['time','u10','v10','d2m','t2m','ssrd','tp']]
df['latitude'] = lat
df['longitude'] = lon
df = df.rename(columns={'time':'valid_time'})

# Show result
print(df.head(5))

# Save to CSV if needed
df.to_csv('era5_point_20030101.csv', index=False)

ValueError: did not find a match in any of xarray's currently installed IO backends ['netcdf4', 'h5netcdf']. Consider explicitly selecting one of the installed engines via the ``engine`` parameter, or installing additional IO dependencies, see:
https://docs.xarray.dev/en/stable/getting-started-guide/installing.html
https://docs.xarray.dev/en/stable/user-guide/io.html